*{
    margin: 0;
    padding: 0;
    border: 0;
}

.menu{
    background-color:   #F6D10D;
}
/*class de conteúdo tudo que estiver no conteúdo vai modificar aqui*/
.conteudo{
    text-align: center;
    color: white;
}
.imgFundo{
    background-image: url(/imagens/8dfcf9615714a448ac03e0f92b733d6b_XL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.82;
    padding: 300px;
}
#bt1{
    background-color:    black;
    color:  #F6D10D;
    padding: 20px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#bt2{
    background-color: blueviolet;
    margin-right: 10px;
    padding: 20px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#bt3{
    background-color: white;
    margin-left: 10px;
    padding: 20px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    margin: 10px;
}
h1{margin: 15px;}
